#home-page-blog {
    display: flex;
    flex-direction: column;

    .home-page-blog-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-weight: 400;
            color: rgb(57, 57, 57);

        }

        p {
            max-width: 500px;
            margin: 20px auto;
            text-align: center;
            color: grey;
            margin-bottom: 40px;
        }
    }

    .home-page-blog-cards {
        display: flex;
        flex-wrap: wrap;

        .card-img-top {
            border-radius: 7px;
        }

        .card {
            border: 0px;
            margin-bottom:30px;
            .first-image{
                overflow: hidden;
                max-height: 220px !important;
                width: 100%;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                img{
                    max-height: 100%;
                    max-width: 100%;
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
         


        .card-body {
            padding: 10px;
            padding-top: 25px;

            .read-more-btn {
                width: 160px;
                margin: 0 auto;

                a.btn {
                    margin: 0 auto;
                    background-color: #585CE9;
                    padding: 10px 40px;
                    text-decoration: none;
                }
            }

            h5,
            p {
                text-align: center;
            }


            h5 {
                text-align: center;
                font-size: 17px;

                // font-size:30px;
                a {
                    &:hover {
                        color: #585CE9;
                    }

                    // width:100px
                    text-decoration: none;
                    color: rgb(84, 84, 84);
                    background-color: transparent;
                }
            }

            p {
                color: rgb(162, 162, 162);
            }



        }
    }
}