#our-team {
    margin: 100px 0;
    display: flex;
    flex-direction: column;


    .our-team-title {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-weight: 400;
            color: rgb(57, 57, 57);

        }

        p {
            margin: 20px auto;
            text-align: center;
            color: rgb(174, 174, 174);
            margin-bottom: 40px;
        }

    }

    .our-team-members {
        display: flex;
        flex-wrap: wrap;

        .member {
            &:hover {
                .member-image {
                    transform: translateY(10px);

                }

                .icons {
                    background-color: #585CE9 !important;

                    i {
                        color: white !important;
                    }
                }
            }

            .member-image {
                width: 100px;
                margin: auto;
                position: relative;
                bottom: 10%;
                transition: transform 0.4s;


                img {
                    border-radius: 50%;
                    border: 6px solid white;
                }
            }

            .card {
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                box-shadow: 0px 0px 30px rgba(36, 36, 36, 0.272);

                .icons {
                    text-align: center;
                    background-color: white;
                    padding-top: 20px;

                    i {
                        color: #585CE9;
                        margin: 0 7px;
                    }

                    transition: background-color 0.5s;
                    padding-bottom:10px;
                }

                .card-header {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    background-color: #585CE9;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;

                    h6 {
                        color: white;
                    }

                    span {
                        color: rgb(212, 212, 212);
                        font-size: 13px;
                    }

                    border:0;
                }

                .card-body {
                    background-color: #fff;

                    p {
                        text-align: center;
                        color:#6F8BA4;
                    }

                    height:150px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }

        }
    }
}